
body {
  background-image: linear-gradient(180deg, #af67e9, #6565e7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}


.container {
  /* box-sizing: border-box; */
  display: table;
  margin: 9% 18%;
  height: 500px;
  width: 66vw;
  background-color: #fff;
  border-radius: 20px;
}

.image-box {
  /* position: absolute; */
  float: left;
  /* display: block; */
  /* display: inline-flex; */
  background-image: url("../images/illustration-woman-online-desktop.svg"),url("../images/bg-pattern-desktop.svg");
  background-size: 440px, 950px;
  background-repeat: no-repeat;
  background-position: right 80px,right -280px;
  margin: 0;
  height: 500px;
  width: 360px;
}

.image-box img {
  position: relative;
  display: flex;
  z-index: 2;
  left: -120px;
  top: 190px;
}

.text-box {
  /* position: relative; */
  /* left: 360px; */
  float: right;
  box-sizing: border-box;
  margin: 0;
  padding: 60px 60px 0 0;
  height: 100%;
  width: 50%;
  /* width: 60%; */
}

.text-box h1 {
  font-size: 3rem;
}

input {
  display: none;
}

#btn {
  display: inline-block;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #ff7;
  border: 1px solid;
  border-radius: 3px;
}

.expandable {
  visibility: collapse;
  background: #ddd;
}

input:checked ~ .expandable {
  visibility: visible;
}

input:checked ~ #btn {
  background-color: #ccc;
}
